@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body, html {
  background-color:#E6F4FF;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.btn{
  padding:24px 32px !important;
  background-color:#33AAFF !important;
  color:white !important;
  text-align:center !important;
  margin:25px 15px !important;
  border-radius: 10px !important;
  text-transform: none !important;
}


.btn:hover {
  color: black !important;
}


.btn-error{
  padding:24px 32px !important;
  background-color:red !important;
  color:white !important;
  text-align:center !important;
  margin:25px 15px !important;
  border-radius: 10px !important;
  text-transform: none !important;
}

.btn-pass{
  padding:24px 32px !important;
  background-color: green !important;
  color:white !important;
  text-align:center !important;
  margin:25px 15px !important;
  border-radius: 10px !important;
  text-transform: none !important;
}

.title {
  font-size: 32px !important;
  color: #2A2D34 !important;
  text-align: center !important;
  font-weight:700 !important;
  letter-spacing: 0.5px !important;
  font-family: 'Russo One', sans-serif !important;
}